body{
    background-color: aqua;
    padding: 50px 50px;
}

h2{
color: blue;
font-size: 30px;
text-align: center;
}

h4{
    color: rgb(252, 109, 90);
    font-size: 20px;
    text-align: center;
    }

.select{
    text-align: center;
    align-items: center;
    margin: auto;
    border: 3px solid rgb(166, 177, 166);
    padding: 10px;
    }